doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Azteca-Playss
		link(rel="stylesheet", href="style.scss")
	body
		.navigation
			img.navigation__logo(src="imagenes/SA-logo2.jpg", alt="logo")
			nav.navigation__bar
				ul.navigation__list
					li.navigation__item
						a.navigation__link(href="#") Pc
					li.navigation__item
						a.navigation__link(href="#") Xbox 
					li.navigation__item
						a.navigation__link(href="#") PlayStation
					li.navigation__item
						a.navigation__link(href="#") Nintendo
		.titulo
			h1.titulo__texto
				| Mejores Juegos En Descuento
		.header
			.header__contenedor
				img.header__imagen(src="imagenes/cyberpunk-2077.jpg", alt="")
				.header__texto-contenedor
					h1.header__title Cyberpunk 2077
					p.header__texto Cyberpunk 2077 es un videojuego desarrollado y publicado por CD Projekt, que se lanzó para Microsoft Windows, PlayStation 4, y Xbox One el 10 de diciembre de 2020, y posteriormente en PlayStation 5, Xbox Series X|S y Google Stadia.
		.calendar
			h1.calendar__texto
				| Calendario De Lanzamiento
			.calendar__container
				.card
					h3.card__title HollowNight
					.card__date
						.card__day 12
						.card__pipe |
						.card__month JUL.
					.card__footer
						.card__icon
							include ../iconos/windows.svg
						.card__icon
							include ../iconos/xbox.svg
						.card__icon
							include ../iconos/playstation.svg
				.card
						h3.card__title Cuphead
						.card__date
							.card__day 19
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
							.card__icon
								include ../iconos/xbox.svg
				.card
						h3.card__title Bioshock
						.card__date
							.card__day 25
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
							.card__icon
								include ../iconos/xbox.svg
							.card__icon
								include ../iconos/playstation.svg
				.card
						h3.card__title Portal
						.card__date
							.card__day 25
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
							.card__icon
								include ../iconos/xbox.svg
							.card__icon
								include ../iconos/playstation.svg
				.card
						h3.card__title Farmer´sLife
						.card__date
							.card__day 26
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
				.card
						h3.card__title Death Trash
						.card__date
							.card__day 27
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
							.card__icon
								include ../iconos/xbox.svg
				.card
						h3.card__title Black Book
						.card__date
							.card__day 27
							.card__pipe |
							.card__month JUL.
						.card__footer
							.card__icon
								include ../iconos/windows.svg
							.card__icon
								include ../iconos/playstation.svg
				.card
						h3.card__title Glitchpunk
						.card__date
							.card__day 1
							.card__pipe |
							.card__month AGO.
						.card__footer
							.card__icon
								include ../iconos/xbox.svg
							.card__icon
								include ../iconos/playstation.svg
			.contenido
				h1.contenido__reclamar Juegos Gratis
				.contenido__container
					.cartas
						img(src="./imagenes/dogs2.jpg", alt="").cartas__image
						h3.cartas__title Watch Dogs 2
						.cartas__date
							.cartas__day 2
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								include ../iconos/windows.svg
							.cartas__icon
								include ../iconos/xbox.svg
					.cartas
						img(src="./imagenes/reach.jpg", alt="").cartas__image
						h3.cartas__title Halo Reach
						.cartas__date
							.cartas__day 5
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								include ../iconos/windows.svg
							.cartas__icon
								include ../iconos/xbox.svg
							.card__icon
								include ../iconos/playstation.svg
					.cartas
						img(src="./imagenes/cuphead.png", alt="").cartas__image
						h3.cartas__title Watch Dogs 2
						.cartas__date
							.cartas__day 8
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								include ../iconos/windows.svg
							.cartas__icon
								include ../iconos/xbox.svg
					.cartas
						img(src="./imagenes/godofwar.jpg", alt="").cartas__image
						h3.cartas__title Wod Of War
						.cartas__date
							.cartas__day 10
							.cartas__pipe |
							.cartas__month AGO.
						.cartas__footer
							.cartas__icon
								include ../iconos/windows.svg
							.cartas__icon
								include ../iconos/xbox.svg
							.card__icon
								include ../iconos/playstation.svg




